.itag {
    background-color: #0BA02C;
    padding: 4px 12px;
    border-radius: 3px;
}

.featured {
    background-color: #FFEDED;
    padding: 4px 12px;
    border-radius: 52px;
}

.address {
    color: #474C54;
}

.left-ctn {
    padding-right: 26px;
    color: #5E6670;

    ul li {
        list-style: disc;
    }
}

// .right-ctn {
//     padding: 38px 32px;
// }