.itag {
  background-color: #0BA02C;
  padding: 4px 12px;
  border-radius: 3px;
}

.featured {
  background-color: #E7F0FA;
  padding: 4px 12px;
  border-radius: 52px;
}

.address {
  color: #474C54;
}

.left-ctn {
  padding-right: 26px;
  color: #5E6670;

  ul li {
      list-style: disc;
  }
}